<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <context-param>
    <param-name>edesk.root</param-name>
    <param-value>/var/EDesk</param-value>
  </context-param>
  <servlet>
    <servlet-name>DarwinCSampl</servlet-name>
    <servlet-class>edu.stanford.facs.desk.servlet.CSamplServlet</servlet-class>
    <init-param>
      <param-name>edesk.site</param-name>
      <param-value>Darwin</param-value>
    </init-param>
    <init-param>
      <param-name>jdbcDriver</param-name>
      <param-value>org.postgresql.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>jdbcURL</param-name>
      <param-value>jdbc:postgresql:edesk_metadata</param-value>
    </init-param>
    <init-param>
      <param-name>jdbcUsername</param-name>
      <param-value>wizard</param-value>
    </init-param>
    <init-param>
      <param-name>jdbcPassword</param-name>
      <param-value>lizard</param-value>
    </init-param>
    <security-role-ref>
      <role-name>User</role-name>
      <role-link>User</role-link>
    </security-role-ref>
  </servlet>
  <servlet>
    <servlet-name>DarwinCSdata</servlet-name>
    <servlet-class>edu.stanford.facs.desk.servlet.CSdataServlet</servlet-class>
    <init-param>
      <param-name>edesk.site</param-name>
      <param-value>Darwin</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ExportNotifyServlet</servlet-name>
    <jsp-file>/ExportNotify.jsp</jsp-file>
    <init-param>
      <param-name>edesk.site</param-name>
      <param-value>Darwin</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ExportServlet</servlet-name>
    <jsp-file>/Export.jsp</jsp-file>
    <init-param>
      <param-name>edesk.site</param-name>
      <param-value>Darwin</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>FlowJoLaunchServlet</servlet-name>
    <servlet-class>edu.stanford.facs.desk.servlet.FlowJoLaunchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StarKillerServlet</servlet-name>
    <jsp-file>/StarKiller.jsp</jsp-file>
    <init-param>
      <param-name>edesk.site</param-name>
      <param-value>Darwin</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>WHouseServlet</servlet-name>
    <jsp-file>/WHouse.jsp</jsp-file>
    <init-param>
      <param-name>edesk.site</param-name>
      <param-value>Darwin</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DarwinCSampl</servlet-name>
    <url-pattern>/Darwin/CSampl/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DarwinCSdata</servlet-name>
    <url-pattern>/Darwin/CSdata/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportServlet</servlet-name>
    <url-pattern>/Export.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportNotifyServlet</servlet-name>
    <url-pattern>/ExportNotify.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FlowJoLaunchServlet</servlet-name>
    <url-pattern>/FlowJo/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StarKillerServlet</servlet-name>
    <url-pattern>/StarKiller.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WHouseServlet</servlet-name>
    <url-pattern>/WHouse.jsp</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <display-name>Data Access</display-name>
    <web-resource-collection>
      <web-resource-name>Desk Data Access</web-resource-name>
      <url-pattern>/Darwin/CSampl/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>User</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Shared FACS Facility</realm-name>
  </login-config>
  <security-role>
    <description>FACS Facility User</description>
    <role-name>User</role-name>
  </security-role>
  <env-entry>
    <env-entry-name>enable/Redirect</env-entry-name>
    <env-entry-value>false</env-entry-value>
    <env-entry-type>java.lang.Boolean</env-entry-type>
  </env-entry>
</web-app>

