useDynLib(Logicle, R_create, R_scale, R_intScale, R_inverse, R_intInverse, R_destroy, R_T, R_W, R_M, R_A, R_bins)
export(create)
export(scale)
export(intScale)
export(inverse)
export(intInverse)
export(destroy)
export(T)
export(W)
export(M)
export(A)
export(bins)
export(axis)

